{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'frontend/dropdown.css' %}">
{% endblock %}

{% block title %}Log Viewer{% endblock %}

{% block navbar %}
<form class="form-inline" action="/" method="get">
	<input type="datetime-local" name="fromDate">
	<input type="datetime-local" name="toDate">
	<input class="btn btn-primary" type="submit" value="Filter">
</form>
{% endblock %}

{% block content %}
{% if streamers %}
<div class="card-columns" style="column-count: 1; margin-left: 10%; margin-right: 10%;">
{% for streamer in streamers %}
	<div class="card bg-secondary text-white" style="max-height: 300px; overflow-y: auto;">
		<div class="card-body">
			<h4 class="card-title">{{ streamer.name }}</h4>
			<table class="table table-dark table-striped">
				<thead>
					<th scope="col">Timestamp</th>
					<th scope="col">Game</th>
					<th scope="col">Title</th>
				</thead>
				<tbody>
					{% for i in streamer.games %}
					<tr>
						<td style="width: 33%;">{{ i.timestamp|date:"dS M. Y, H:i" }}</td>
						<td style="width: 33%;">{{ i.game }}</td>
						<td style="width: 33%;">{{ i.title }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<p style="color: white; margin: 10px;">No Streams Loaded</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% load static %}
<script>
	window.addEventListener("load", function() {
	const now = new Date();
	now.setHours(0, 0, 0, 0);

	$("input[name^='fromDate']").val(now.toISOString().slice(0, 19));
	now.setHours(23, 59);
	$("input[name^='toDate']").val(now.toISOString().slice(0, 19));
});
</script>
{% endblock %}