{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'frontend/dropdown.css' %}">
{% endblock %}

{% block title %}Log Viewer{% endblock %}

{% block navbar %}
<form class="form-inline" action="/" method="get">
	<input type="datetime-local" name="fromDate">
	<input type="datetime-local" name="toDate">
	<input class="btn btn-primary" type="submit" value="Filter">
</form>
{% endblock %}

{% block content %}
{% if streamers %}
<div class="card-columns" style="column-count: 2; margin-left: 10%; margin-right: 10%;">
{% for streamer in streamers %}
	<div class="card bg-secondary text-white" style="max-height: 1000px; overflow-y: auto;">
		<div class="card-body">
			<h4 class="card-title">{{ streamer.name }}</h4>
			<table class="table table-dark table-striped">
				<thead>
					<th scope="col">Timestamp</th>
					<th scope="col">Game</th>
				</thead>
				<tbody>
					{% for i in streamer.games %}
					<tr>
						<td>{{ i.timestamp }}</td>
						<td>{{ i.game }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<p style="color: white; margin: 10px;">No Streams Loaded</p>
<div class="card-columns" style="column-count: 2;">
	<div class="card bg-secondary text-white" style="margin: 10px;">
		<div class="card-header">
			Streamer
		</div>
		<div class="card-body">
			<p class="card-text">Text</p>
		</div>
	</div>
	<div class="card bg-secondary text-white" style="margin: 10px;">
		<div class="card-header">
			Streamer
		</div>
		<div class="card-body">
			<p class="card-text">Text</p>
		</div>
	</div>
	<div class="card bg-secondary text-white" style="margin: 10px;">
		<div class="card-header">
			Streamer
		</div>
		<div class="card-body">
			<p class="card-text">Text</p>
		</div>
	</div>
	<div class="card bg-secondary text-white" style="margin: 10px;">
		<div class="card-header">
			Streamer
		</div>
		<div class="card-body">
			<p class="card-text">Text</p>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% load static %}
<script>
	//ensure all checkboxes are checked when the page is loaded
	let checkboxes = $(".checkbox-menu").find("input");
	for (i of checkboxes)
	{
		$(i).prop("checked", true);
		$(i).closest("li").prop("active", true);
	}
</script>
<script>
	//toggle the checkbox visuals to either checked or unchecked
	$(".checkbox-menu").on("change", "input[type='checkbox']", function() {
		$(this).closest("li").toggleClass("active", this.checked);
		//if the "all" checkbox is checked, uncheck it
		if($("#chkAll").prop("checked") === true && this.id !== "chkAll")
		{
			$("#chkAll").prop("checked", false);
		}
	});

	function filterLogs()
	{
		let table = $("table").find("tbody > tr");
		table.find("td").parent().hide(); //hide all table rows

		let checkboxes = $(".checkbox-menu").find("label").filter(function() {
			return $(this).find("input").prop("checked");
		});

		let events = [];
		for (i of checkboxes){
			if($(i).text().trim() === "All")
				continue;
			events.push($(i).text().trim());
		}

		for (i of table)
		{
			if (events.indexOf($(i).find("td[name^='eventtype']").text()) !== -1)
			{
				if ($(i).find("td[name^='streamer']").text().toLocaleLowerCase().indexOf($("input.form-control").val()) > -1)
				{
					$(i).show();
				}
			}
		}
	}

	$(".checkbox-menu").on("change", "input[type='checkbox']", function() {
		filterLogs();
	});

	//add event listener to the input event. input event fires whenever the text is changed
	$("input.form-control").on("input", function(){
		filterLogs();
	});

	//prevent dropdown from closing when item is clicked
	jQuery('.dropdown-menu.allow-focus').on('click', function (e) {
		e.stopPropagation();
	});

	//"all" checkbox functionality
	$("#chkAll").on("click", function() {
		$("input:checkbox").prop("checked", this.checked)
	});
</script>
<script>
	window.addEventListener("load", function() {
	const now = new Date();
	now.setHours(0, 0, 0, 0);

	$("input[name^='fromDate']").val(now.toISOString().slice(0, 19));
	now.setHours(23, 59);
	$("input[name^='toDate']").val(now.toISOString().slice(0, 19));
});
</script>
{% endblock %}