{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block navbar %}
<form class="form-inline" action="/manage/addChannel" method="POST">
	{% csrf_token %}
	<input type="hidden" name="action" value="add">
	<input class="form-control mr-sm-2" name="channel" type="text" placeholder="Add channel">
	<button class="btn btn-success" type="submit">Subscribe</button>
</form>
{% endblock %}


{% block content %}
<div class="row" style="margin: 20px;">
	{% for event in events %}
	<div class="col mb-4">
		<div class="card bg-secondary text-white" style="max-height: 300px; overflow-y: auto;">
			<div class="card-header text-white">
				<h4 class="card-title">{{ event.channel }}</h4>
			</div>
			<div class="card-body d-flex justify-content-center">
				<a href="/manage/toggleEvent?channel={{ event.channel }}&event=stream.online">
					<button type="button" class="p-2 btn {% if event.streamUp %} btn-primary {% else %} btn-dark {% endif %}" style="margin: 5px;">Started</button>
				</a>
				<a href="/manage/toggleEvent?channel={{ event.channel }}&event=channel.update">
					<button type="button" class="p-2 btn {% if event.streamDown %} btn-primary {% else %} btn-dark {% endif %}" style="margin: 5px;">Changed</button>
				</a>
				<a href="/manage/toggleEvent?channel={{ event.channel }}&event=stream.offline">
					<button type="button" class="p-2 btn {% if event.streamUpdate %} btn-primary {% else %} btn-dark {% endif %}" style="margin: 5px;">Ended</button>
				</a>
				<a href="/manage/removeChannel?channel={{ event.channel }}">
					<button type="button" class="p-2 btn btn-danger" style="margin: 5px;">Unsubscribe</button>
				</a>
			</div>
		</div>
	</div>

	{% endfor %}
	</div>
{% endblock %}