{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'frontend/dropdown.css' %}">
{% endblock %}

{% block title %}Reports{% endblock %}

{% block content %}
<div style="margin: 50px;">
	<div class="alert alert-danger" hidden>
		<strong>Error</strong> Missing Data!
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form method="post" action="/api/makereport" class="d-flex flex-column">
		{% csrf_token %}
		<div class="d-flex flex-row justify-content-center p-2">
			<div class="dropdown p-2">
				<button class="btn btn-light dropdown-toggle" type="button" id="dripdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Channels
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1" style="overflow-y: scroll; max-height: 500px;">
					<li>
						<label>
							<input type="checkbox" id=chkAll> All
						</label>
					</li>
					<div class="dropdown-divider"></div>
				</ul>
			</div>
			<label for="fromdatetime" class="text-white p-2">From:</label>
			<input type="datetime-local" name="From" id="fromdatetime" class="p-2">
			<label for="todatetime" class="text-white p-2">To:</label>
			<input type="datetime-local" name="To" id="todatetime" class="p-2">
			<button type="submit" class="btn btn-light p-2" style="margin-left: 10px;">Submit</button>
		</div>
	</form>
</div>

<template>
	<li>
		<label>
			<input type="checkbox" name="text"> text
		</label>
	</li>
</template>
{% endblock %}

{% block scripts %}
<script>
	//toggle the checkbox visuals to either checked or unchecked
	$(".checkbox-menu").on("change", "input[type='checkbox']", function() {
		$(this).closest("li").toggleClass("active", this.checked);
	});
	//prevent dropdown from closing when item is clicked
	jQuery('.dropdown-menu.allow-focus').on('click', function (e) {
		e.stopPropagation();
	});
	//"all" checkbox functionality
	$("#chkAll").on("click", function() {
		$("input:checkbox").prop("checked", this.checked)
	});
</script>
<script>
	//get json from server
	$.get("/api/subbedevents", function(data){
		data = JSON.parse(data);
		template = document.getElementsByTagName("template")[0].content.querySelector("li");
		ul = document.getElementsByClassName("allow-focus")[0];

		for (const i of data)
		{
			var temp = document.importNode(template, true);
			temp.querySelector("label").innerHTML = temp.querySelector("label").innerHTML.replaceAll("text", i.channel);
			ul.appendChild(temp);
		}
	});
</script>
{% endblock %}